.cache
.codelite
.idea
.vs
.vscode
build
cmake-*

*.user

/binaries*
/build*
/hfsm_test.dir
/projects/code-lite/build-*
/projects/code-lite/tags
/projects/code-lite/Makefile
/projects/code-lite/*/compile_flags.txt
/projects/code-lite/*/*.mk
/projects/visual-studio/.opencppcov
/projects/visual-studio/*.log
