/binaries-32
/binaries-64
/build
/hfsm_test.dir/Debug
/projects/codelite/.codelite
/projects/codelite/Debug
/projects/codelite/Makefile
/projects/codelite/*.mk
/projects/codelite/*.txt
/projects/visual-studio/.vs
*.user
