---
---

@import "{{ site.theme }}";

a:link, a:visited {
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #ffd700;
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
